@model List<BlogDAL.Core.Yorum>

<h2>Son Yorumlar</h2>

@foreach (var y in Model)
{
    <div>
        <strong>
            Yazan : @{ string adsoyad = y.Uye.Ad + " " + y.Uye.Soyad;}
            @adsoyad
        </strong>
        <h3>Makale Bilgileri</h3>
        @*<strong>@y.Makale.Baslik</strong>*@
        <strong>@Html.ActionLink(@y.Makale.Baslik, "MakaleByYorum", new { yorumID = y.YorumID })</strong>
        <h3>Yorum İçeriği</h3>
        @Html.Raw(@y.Icerik)
    </div>
                }
